
body { 
    align-items: center;
    display: flex;
    background-color: gray;
    flex-direction: column;
    justify-content: center;
    height: 100vh; 
}

.faq { 
    background-color: #fff;
    border-radius: 25px;
    padding: 50px 25px;
    margin: 5%;
    min-width: 300px;
}

.faq__heading { 
    text-align: center; 
}